/*Here we are importing some font-style from google font to use in this project*/
/*We will use these fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* 
:root selector defines global CSS variables (custom properties).
These variables can be reused throughout the stylesheet.
Variable name must start with -- in CSS
*/
:root {
    --bg-main: #F0F4FF;   /* Define a custom variable named --bg-main with a light bluish color */
    --primary: #5865F2;
    --primary-dark: #4752C4;
    --secondary: #EB459E;
    --text-dark: #1e293b;
    --text-muted: #64748b;
    --border: #eef2f6;
    --dot-color: #e5e7eb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* By default, CSS uses box-sizing: content-box;. So, width and height apply only to the content area. Padding and borders are added on top of that, making the element bigger than expected.
But with box-sizing: border-box;, The width and height include content + padding + border.
The element will never grow beyond the size you set. */


/* 
The body element uses the custom variable for its background color.
Instead of hardcoding the hex value, we reference the variable with var(--bg-main).
This makes it easy to change the background color in one place (:root) and have it update everywhere.
*/
body {
    background-color: var(--bg-main);   /* Apply the global background color variable to the page */
    font-family: 'Outfit', sans-serif;
    color: var(--text-dark);
    line-height: 1.6;
    overflow-x: hidden;   /*It hides any content that overflows horizontally beyond the width of the element. Prevents horizontal scrollbars from appearing. The overflowing part is clipped and not visible.*/
}


/*Now we will override the font-style for default h3, h4, p, tags of streamlit*/
h1, h2, h3, h4 {
    font-family: 'Fugaz One', sans-serif;
    line-height: 1.1;
    word-break: break-word;    /* Control how long words wrap */
}
/* The word-break property controls how the browser handles line breaks inside words when text is too long to fit in its container.
Default behavior (normal) → The browser tries to keep words intact, only breaking at spaces.
break-word → Allows the browser to break long words at arbitrary points if they don’t fit, instead of overflowing outside the container. */


/* Styling for Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 80px;
    background-color: #000000;
    border-bottom: 1px solid #333333;
    position: sticky;   /* Keeps the navbar "stuck" to a position while scrolling. Unlike fixed, it only sticks once you scroll past it. */
    top: 0;             /* Defines the offset from the top of the viewport.Here, the navbar will stick to the very top. */
    z-index: 1000;      /* Ensures the navbar stays above other elements. Higher z-index means it will overlap content below. */
}


.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 40px;
    width: auto;      /* so it will take width automatically as per height*/
}

.logo-text {
    font-family: 'Fugaz One', sans-serif;
    font-size: 1.8rem;
    color: white;
    line-height: 0.6;
    font-weight: 600;
}


.nav-links {
    display: flex;
    gap: 40px;
}


.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.95rem;
}


.nav-links a:hover {
    color: var(--primary);
}


.btn-pill {
    background-color: white;
    color: #000000;
    padding: 12px 32px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;    /* Prevents line breaks → Text will stay on a single line, no matter how long it is. */
}


.btn-pill:hover {
    background-color: #f0f0f0;
}


/* Hero Section i.e 1st Page */
.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 40px;
    background-color: #f0f4ff;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border: 1px solid rgb(225, 198, 225);
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 42px;
}

.hero h1 {
    font-size: 6.5rem;
    color: black;
    max-width: 1000px;
    margin-bottom: 24px;
    line-height: 1.0;
    margin-top: 10px;
}

.hero h1 span {
    color: var(--primary);
}


.hero p {
    font-size: 1.25rem;
    color: var(--text-muted);
    max-width: 650px;
    margin-bottom: 56px;
    font-weight: 400;
}


.hero-actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 60px;
}

.btn-cta {
    background-color: #000000;
    color: white;
    padding: 20px 48px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-cta:hover {
    background-color: #333333;
}


.link-action {
    color: black;
    text-decoration: none;
    font-weight: 650;
    font-size: 1.1rem;
}

.link-action:hover {
    color: var(--text-muted);
}


/* Floating Cards Simplified Styling*/
.floating-card {
    position: absolute;
    width: 320px;
    background-color: #ffffff;
    padding: 14px;
    border-radius: 36px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
}

.floating-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;     /* It will make our image of square shape now. It means the element’s width and height are equal → it will always be a perfect square, no matter the size. The browser automatically calculates the missing dimension (width or height) based on the ratio.*/
    object-fit: cover;
    border-radius: 20px;
    background-color: #f8faff;
}


.card-label {
    display: none;
}

.card-left {
    left: 40px;
    top: 45%
}

.card-right {
    right: 40px;
    bottom: 25%;
}


/* Features Section */
.features {
    padding: 120px 80px;
    background-color: white;
    text-align: center;
}

.features h2 {
    font-size: 4.5rem;
    margin-bottom: 60px;
    color: black;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    /* Creates 3 equal-width columns */
    gap: 40px;
    max-width: 1200px;    /* Restricts the grid’s maximum width */
    margin: 0 auto;
}

.feature-card {
    padding: 60px 40px;
    border-radius: 40px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
}

.f-icon-box {
    width: 80px;
    height: 80px;
    background-color: #f8faff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
    font-size: 3rem;      /* It will make the emoji bigger in size now*/
}

.feature-card h3 {
    font-size: 1.6rem;
    color: black;
    margin-bottom: 16px;
    font-weight: 800;
}

.feature-card p {
    color: var(--text-muted);
    font-size: 1rem;
    line-height: 1.6;
}







/* Tech Stack Section */
.tech-stack {
    padding: 70px 40px;
    background-color: #7c4dff;
    border-radius: 60px;
    margin: 40px;
    text-align: center;
}

.tech-stack h2 {
    font-size: 3.5rem;
    margin-bottom: 12px;
    color: white;
}

.tech-stack .section-tag {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-width: 1200px;
    margin: 40px auto 0;
}

.tech-card {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 30px 20px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
 
.t-icon {
    width: 60px;
    height: 60px;
    min-width: 60px;
    background-color: white;
    color: #7c4dff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.tech-info h4 {
    font-size: 1.15rem;
    margin-bottom: 6px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 750;
}

.tech-card p {
    font-size: 0.85rem;
    color: white;
    line-height: 1.4;
}

.tech-tag {
    display: inline-block;
    background-color: #4BB786;
    color: white;
    padding: 2px 10px;
    border-radius: 8px;
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 10px;
}



/* Purple Section */
.purple-section {
    background-color: var(--primary);
    color: white;
    padding: 100px 80px;
    text-align: center;
    border-radius: 80px;
    margin: 60px 40px 40px;
}

.purple-section h2 {
    font-size: 3.5rem;
    margin-bottom: 24px;
    color: white;
}

.purple-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 40px;
}

.btn-white {
    background-color: white;
    color: var(--primary);
    padding: 18px 40px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.1rem;
    display: inline-block;
}

.btn-white:hover {
    opacity: 0.9;
}


/* Styling Footer  */
/* Main Footer */
.main-footer {
    padding: 100px 80px 40px;
    background-color: #000000;
    border-top: 1px solid #333333;
    color: white;
}


.main-footer .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto 80px;
}
/* grid-template-columns → sets the number and size of columns in a grid container.
fr (fraction unit) → divides available space into proportional parts.
e.g. Imagine the container is 800px wide: Total fractions = 2 + 1 + 1 + 1 = 5 , Each fraction = 800 ÷ 5 = 160px
Column widths:
First column → 2 × 160 = 320px
Second column → 160px
Third column → 160px
Fourth column → 160px */


.footer-brand .logo {
    margin-bottom: 24px;
}

.footer-brand p {
    color: #cccccc;
    font-size: 1rem;
    max-width: 320px;
    line-height: 1.6;
}

.footer-brand .logo-text {
    color: #ffffff;
}

.footer-links ul {
    list-style: none;   /* removes the default bullet points (or numbering if it were an <ol>).*/
}

.footer-links li {
    margin-bottom: 16px;
}

.footer-links a {
    text-decoration: none;
    color: #cccccc;
    font-size: 0.95rem;
    font-weight: 500;
}

.footer-links h4 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.footer-bottom {
    padding-top: 40px;
    border-top: 1px solid #333333;
    text-align: center;
}

.footer-bottom p {
    color: #999999;
    font-size: 0.95rem;
    font-weight: 500;
}